/* MAIN CONTENT AND SECTION STYLES */

body {
  display: grid;
  grid-template-areas: "n n n n n n"
                       "a a a a . ."
                       "a a a a . ."
                       "s s s s s s"
                       "p p p p p p"
                       "c c c c c c";
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-family: 'Hubballi', cursive;
    font-weight: 100;
    margin: 0;
    background-color: rgb(46, 46, 46);
    color: rgb(252, 251, 248);
    box-sizing: border-box;
  }

  h2 {
    font-size: 30pt;
    font-weight: 100;
  }
  
  p {
    font-size: 18pt;
  }

  section {
    text-align: center;
    padding: 15px 50px 50px 75px;
  }

  #about {
    grid-area: a;
    display: grid;
    grid-template-areas: "i i b b b b"
                         "i i e e e e";
    text-align: left;
    padding: 25px 50px 50px 75px;
    scroll-margin-top: 100px;
  }

  #portfolio {
    scroll-margin-top: 50px;
  }

  #skills {
    scroll-margin-top: 50px;
  }

  #skills {
    grid-area: s;
    clear: left;
    background-color:rgb(113, 134, 138);
    background-image: url("../images/leavesBackground.png");
    background-size: 100%;
    background-attachment: fixed;
  }

  #skills, footer {
      color:rgb(46, 46, 46);
  }
  #portfolio {
    grid-area: p;
  }

  footer {
    grid-area: c;
    background-color: rgb(113, 134, 138);
    padding: 10pt;
    text-align: center;
  }
  /* NAV BAR STYLES*/
  nav {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: rgb(46, 46, 46);
  }
  
  .navBar {
    grid-area: n;
    height: 60px;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1;
  }

  .fixed-nav {
    position: sticky;
    background-color:rgb(46, 46, 46);
  }

  nav ul li {
    display: inline;
    width: 100%;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  nav li a {
    color:rgb(252, 251, 248);
    padding: 20px;
  }
  
  nav ul {
    text-align: right;
    /* margin-right: 50px; */
    list-style-type: none;
  }
  
  nav a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
  }
  
  nav ul a:hover, a:focus {
    font-weight: bold;
    text-decoration: 4px rgb(149, 177, 182) underline;
  }

  .hoverLink {
    text-decoration: 4px rgb(149, 177, 182) underline;
  }
  
  .hamburger {
    display: none;
    color: rgb(232, 238, 240);
    font-size: 1.5rem;
  }

   /*NAV arrow*/
   .top-link {
    font-size: 1.25rem;
    position: fixed;
    text-decoration: none;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    /* background-color:rgb(149, 177, 182); */
    color:rgb(252, 251, 248);
    display: grid;
    place-items: center;
    border-radius: 2px;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }
  .show-link {
    visibility: visible;
    z-index: 100;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  /* styles light/dark toggle icons */

  .fa-sun {
    display: block;
    font-size: 30px;
    margin-left: 15px;
    float: left;
  }

  .fa-moon {
    display: none;
    font-size: 30px;
    margin-left: 15px;
    float: left;
  }
  
  /* ABOUT SECTION STYLES */

  /* styles aside with profile pic and icons */

  aside.profilePic {
    grid-area: i;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    height: auto;
    float: left;
    text-align: center;
    margin: 0px 50px;
    z-index: 0;
  }
  
/* styles profile picture */
#profilePic {
  width:80%;
  height: auto;
  border-radius: 50%;
}

/*styles icons under profile pic*/
.iconBar {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  filter: grayscale(50%);
  margin-right: 7.5px;
  margin-left: 7.5px;
  width: 40px;
  height: 40px;
}
  /* styles text under profile pic */
  #picName {
    font-size: 1.75rem;
    margin: 10px;
  }
  #picTitle {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

/*styles bio area in about section */
.bio {
  grid-area: b;
}
  /*styles education area in about section*/
  .edu {
    grid-area: e;
  }

  .fa-graduation-cap {
    color: rgb(149, 177, 182);
    font-size: 30px;
    float: left;
    padding-right: 10px;
  }
  
  .education {
    list-style-type: none;
    display: grid;
  }
  
  .eduheader {
    font-size: 1.75rem;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .degree {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .school {
    list-style-type: none;
    padding-bottom: 30px;
    padding-left: 55px;
    font-size: 1.25rem;
  }
  
  /*SKILL SECTION STYLES*/
  
  .skillContainer {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    padding-left: 0;
    margin: 0;
    padding-bottom: 5px;
  }
  
  #skillHeader {
    width: 100%;
  }
  
  .skillContainer li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-basis: 33.33333%;
    font-size: 1.5rem;
    text-align: center;
  }

  
  .skillIcon {
    display: block;
    margin: 10px auto 5px auto;
    color: rgb(46, 46, 46);
    font-size: 75px;
    width: 75px;
    height: 70px;
  }

  .skill {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }
  
  .skillList li {
    text-align: center;
    list-style-type: none;
    font-size: 1.25rem;
    padding-bottom: 25px;
    /* font-weight: bold; */
    width: 75px;
  }
  .skillList {
    font-weight: bold;
    /* padding-bottom: 25px; */
  }
  
  #skills ul li {
    list-style-type: none;
  }
  
  
  /* PORTFOLIO SECTION STYLES */
  .portfolioContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
  }

  #portfolioHeader {
      width: 100%;
  }
  
 .portfolioSite {
    width: 400px;
    padding: 10px;
    height: auto;
    border-radius: 25px;
  }
  
  #portfolio a {
    font-size: 24px;
    text-decoration: none;
  }
  
  #portfolio a:link {
      font-weight: normal;
      color: black;
      text-decoration: none;
    }
    /* .container {
      position: relative;
      width: 100%;
    }

    .image {
      display: block;
      width: 25%;
      height: auto;
    }
    
    .overlay {
      height: auto;
      width: 100%;
      opacity: 50;
      transition: .5s ease;
      background-color: #008CBA;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  
  /* FOOTER STYLES */

  #formName {
    background-color:rgb(252, 251, 248);
    width: 50%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
  }

  #formEmail {
    background-color:rgb(252, 251, 248);
    width: 50%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
  }

  #formMessage {
    background-color:rgb(252, 251, 248);
    width: 50%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
  }

  #formContainer {
    width: 100%;
  }

  button {
    font-size: 1.5rem;
    background-color: rgb(252, 251, 248);
    border-radius: 5px;
    cursor: pointer;
  }

  @media screen and (max-width: 1200px) {
    #about, #skills, #portfolio {
      padding-right: 20px;
      padding-left: 20px;
    }
  } 
  
  @media screen and (max-width: 800px) {
    body {
      margin: 0;
      display: grid;
      grid-template-areas: "n n n n"
                         "a a a a"
                         "a a a a"
                         "a a a a"
                         "s s s s"
                         "p p p p"
                         "c c c c";
  }

  #about {
    display: grid;
    grid-template-areas: "i i i i"
                         "b b b b"
                         "e e e e"
  }
  #skills {
    background-image: none;
  }
    h2 {
      text-align: center;
    }
    .eduheader {
      text-align: center;
    }
    .education {
      padding: 10px;
    }
    .fa-graduation-cap {
      padding-bottom: 10px;
    }
    
    .hamburger {
      color: rgb(232, 238, 240);
      display: block;
      /* position: fixed; */
      z-index: 100;
      padding: 5px;
      padding-right: 10px;
      background: transparent;
      cursor: pointer;
    }
    .fa-sun, .fa-moon {
      padding-top: 10px;
    }
    .navMenu {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      margin-top: 60px;
      transform: translateY(-200%);
      /* transition: transform 0.3s; */
      /* top: 0;
      left: 0;
      right: 0;
      bottom: 0; */
      z-index: 99;

      /* background: rgb(214, 215, 218); */
      width: auto;
      background-color: rgb(46, 46, 46);
      color: rgb(252, 251, 248);
      /* border-radius: 5px; */
      /* width: auto; */
      list-style: none;
      /* padding-top: 4rem; */
    }
    
    #fabars {
      display: block;
      color:rgb(232, 238, 240);
      margin-right: 5px;
      float: right;
      font-size: 28pt;
    }

    #fabarsClose {
      display: none;
      color: rgb(232, 238, 240);
      margin-right: 5px;
      float: right;
      font-size: 28pt;
    }

    /* nav ul {
      padding-top: 40px;
    } */
    .navMenu li a {
      display: block;
      /* color:rgb(46, 46, 46); */
      font-size: 1.25rem;
      padding-right: 30px;
      padding-bottom: 15px;
    }
  
    nav ul a:hover, a:focus {
      text-decoration: 4px rgb(149, 177, 182) underline;
    }

    .showMenu {
      transform: translateY(0);
    }
    #about {
      padding: 10px 20px 20px 20px;
    }
    #skills, #portfolio, #resume {
      padding: 10px 20px 20px 20px;
    }

    aside.profilePic {
      border-bottom: 1px solid gray;
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    
    #formName, #formEmail {
      width: 90%;
      height: 25px;
      margin: 10px;
      border-radius: 5px;
    }

    #formMessage {
      width: 90%;
      height: 100px;
      margin: 10px;
      border-radius: 5px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .portfolioSite {
      width: 75%;
      height: auto;
    }
  }
  
