:root {
    --primaryFont: #333333;
    --primaryBG: #FFF;
    --secondaryFontColor: rgb(100, 130, 118);
    --secondaryBGColor: rgba(100, 130, 118, .8);
    --secondaryBGColor: rgba(147, 183, 168, 0.8);
    --secondaryBGColor: rgba(152, 177, 167, 0.8);
}
body {

    color: var(--primaryFont);
    background-color: var(--primaryBG);
}

section h1 {
    font-size: 3rem;
    max-width: 400px;
}
.fade-in {
    opacity: .2;
  }
  
  .fade-in.appear {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
/*--Nav Menu--*/
#nav-bar {
    position: sticky;
    background-color: var(--primaryBG);
    top: 0;
    z-index: 10;
}

/* .navbar-toggler {
    background-color: var(--primaryBG);
}
.icon-bar {
    background-color: 2px solid var(--primaryFont);
} */
/* #navbarNav {
  visibility: hidden;
} */
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: var(--secondaryFontColor) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar ul {
    padding-right: 10px;
}
nav a:hover {
    color: var(--primaryFont) !important;
}

.navbar-toggler {
    margin-right: 20px;
    outline: none !important;
    box-shadow: none !important;
}
button {
    outline: none;
}
.fa-bars {
    font-size: 20px !important;
}
.navbar-brand {
    padding-left: 20px;
    color: var(--secondaryFontColor) !important;
    font-weight: 600;
}

.navbar-brand:hover {
    color: var(--secondaryFontColor) !important;
}

/*--HERO SECTION--*/
.hero {
    width: 100%;
    height: 500px;
    background-image: url("/images/heroBG.jpg");
    background-size: cover;
}
.typed-container {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.typed-out {
    overflow: hidden;
    border-right: .20em solid var(--secondaryFontColor);
    white-space: nowrap;
    animation: 
    typing 2.5s steps(50, end) forwards,
    blink .8s infinite;
    /* animation-delay: 3s; */
    width: 0;
    margin-left: 40%;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
@keyframes blink {
    from {border-color: transparent}
    to {border-color: var(--secondaryFontColor)}
}
.hero h1 {
    padding-top: 100px;
    padding-bottom: 25px;
    font-size: 4rem;
    text-align: left;
    margin-left: 10%;
}

.hero h2 {
    font-size: 2.5rem;
    padding-top: 0;
}

.hero img {
    height: 300px;
    width: auto;
    border-radius: 50%;
    background-color: var(--primaryBG);
}


/*--ABOUT SECTION--*/
#profilePic {
    height: 280px;
    width: auto;
    margin: 20px;
    margin-top: 0;
    border-radius: 50%;
}
.about {
    padding: 100px 100px;
    background-color: var(--secondaryBGColor);
    scroll-margin-top: 50px;
}
.about h1 {
    text-align: left;
    padding-bottom: 20px;
}

.about p {
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 500px;
}

.aboutContent {
    padding: 10px;
}



/*--EDUCATION SECTION--*/
.education {
    width: 100%;
    height: auto;
    padding: 100px 100px;
    scroll-margin-top: 50px;
}

.education ul {
    max-width: 600px;
    padding: 0;
    margin: 0;
}
.fas {
    width: 50px;
    height: 100px;
    font-size: 2rem;
    padding: 10px;
    padding-left: 0;
    margin-left: 0;
    float: left;
}
.degree {
    font-weight: 600;
    clear: left;
}
.school {
    font-style: italic;
    padding-left: 55px;

}
.education ul li {
    list-style-type: none;
    line-height: 1.4;
    font-size: 1.25rem;
    padding: 0;
}

.education ul > ul {
    padding-bottom: 20px;
}

/*--Skills Section--*/
#skills {
    padding: 100px 100px;
    background-color: var(--secondaryBGColor);
}
.skillContainer {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    padding-left: 0;
    margin: 0;
    padding-bottom: 5px;
  }
  
  #skillHeader {
    width: 100%;
    max-width: 2000px;
    text-align: center;
    padding-bottom: 40px;
  }
  .skillContainer li {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-basis: 33.33333%;
    font-size: 1.25rem;
    text-align: center;
  }

  .skillIcon {
    display: block;
    margin: 10px auto 5px auto;
    color: rgb(46, 46, 46);
    font-size: 75px;
    width: 75px;
    height: 70px;
  }

  .skill {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }
  
  .skillList li {
    text-align: center;
    list-style-type: none;
    font-size: 1.25rem;
    padding-bottom: 25px;
    width: 75px;
  }

  #skills ul li {
    list-style-type: none;
  }

/* PORTFOLIO SECTION STYLES */
#portfolio {
    background-color: var(--primaryBG);
    padding: 100px 100px;
}
.portfolioContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    margin: 0;
  }

  #portfolioHeader {
      padding: 20px 0px;
      padding-bottom: 40px;
      width: 100%;
      margin: 0;
      text-align: center;
      max-width: 100%;
  }
  
  .owl-stage-outer {
    height: auto;
  }
  .card-img-top {
    height: 30vh;
    width: 100%;
    object-fit: contain;
    padding-bottom: 10px;
    position: relative;
  }
 .owl-item {
    margin: 50px 0px;
 }
  .owl-prev {
    left: -30px;
  }
  .owl-next {
    right: -30px;
  }

.owl-prev:hover, .owl-next:hover {
    background: transparent!important;
    transform: scale(1.3);
}
  .owl-prev, .owl-next {
    position: absolute;
    top: 100px;
  }

  .owl-prev span, .owl-next span {
    font-size: 80px;
    color: var(--primaryFont);
  }

  .owl-carousel .owl-item.center {
    transform: scale(1.3);
    opacity: 1;
    z-index: 999;
    -webkit-transform: scale(1.3);
  }

  .owl-carousel .owl-item {
    transform: scale(0.7);
    opacity: 0.3;
    padding: 10px 0px;
    transition: all 0.5s;
  }
 
  #portfolio a {
    font-size: 24px;
    text-decoration: none;
  }
  
  #portfolio a:link {
      font-weight: normal;
      color: black;
      text-decoration: none;
    }

    #about, #skills, #portfolio, footer {
      scroll-margin-top: 48px;
    }
    
    /* FOOTER STYLES */
  footer {
    padding: 50px 50px;
  }

  footer h1 {
    font-size: 3rem;
    padding-bottom: 20px;
  }
    #contact {
    background-color: #d5d5d5;
    background-color: #d7d6d1;
    margin: 0;
  }

  #formName {
    width: 50%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
  }

  #formEmail {
    width: 50%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
  }

  #formMessage {
    width: 50%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
  }

  #formContainer {
    width: 100%;
  }

  footer button {
    font-size: 1.5rem;
    background-color: rgb(252, 251, 248);
    color:rgb(46, 46, 46);
    border-radius: 5px;
    border-color: 1 px solid rgb(46, 46, 46);
    cursor: pointer;
  }

  footer p {
    font-size: 1.5rem;
  }

  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-icon {
    padding-top: 50px;
    padding-right: 40px;
  }
  .fa-solid {
    color: var(--primaryFont);
    font-size: 45px;
  }

  .contactIcon {
    color: var(--primaryFont);
    font-size: 45px;
  }

  /*--Date Section--*/

  .date {
    background-color: #d5d5d5;
    background-color: #d7d6d1;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }


@media screen and (max-width: 900px) {
    .hero {
        height: 250px;
    }

    .hero h1 {
        padding-top: 50px;
        padding-left: 0;
        text-align: center;
        font-size: 3rem;
        margin-left: 0;
    }
    .h2-container {
        text-align: center;
    }
    .typed-out {
        text-align: center;
        margin-left: 0;
    }
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    footer h1 {
        font-size: 2rem;
    }
    .hero h2 {
        padding-top: 0px;
        text-align: center;
        padding-left: 0;
        font-size: 2rem;
    }
    #profilePic {
        display: block;
        height: 300px;
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    .about {
        padding: 40px 20px;
    }

    .about h1 {
        text-align: center;
        margin: 0;
        padding: 20px 0;
        padding-bottom: 40px;
        max-width: 500px;
    }

    .about p {
        text-align: left;
        max-width: 800px;
    }

    .fas {
        font-size: 1.5rem;
    }
    .education {
        padding: 40px 20px;
    }

    .education h1 {
        text-align: center;
        margin: 0;
        padding: 20px 0;
        padding-bottom: 40px;
        max-width: 500px;
    }

    #skills {
        padding: 40px 20px;
    }

    #skills h1 {
        width: 100%;
        max-width: 1000px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        padding-bottom: 40px; 
    }

    .skillContainer li {
        font-size: 1rem;
    }
    #portfolio {
        padding: 40px 50px;
    }

    .card-img-top {
        height: 40vh;
        width: 80%;
    }
    #contact {
        padding: 50px 50px;
    }
    #formName, #formEmail, #formMessage {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    #profilePic {
        height: 250px;
        width: auto;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h2 {
        font-size: 1.5rem;
    }

    #formName, #formEmail, #formMessage {
        width: 100%;
    }

    #skills, #portfolio, #about, #education {
        scroll-margin-top: 290px;
    }

}

.card-img-top {
    height: 28vh;
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    position: relative;
  }
  @media screen and (max-width: 710px) {
    .owl-item {
        margin: 10px 0px;
     }
    .owl-stage-outer {
        height: 400px;
      }
    .owl-carousel .owl-item.center {
        transform: scale(1);
        opacity: 1;
        z-index: 999;
        -webkit-transform: scale(1);
      }
    
      .owl-carousel .owl-item {
        transform: scale(1);
        opacity: 0.3;
        padding: 10px 0px;
        transition: all 0.5s;
      }
  }
@media screen and (max-width: 370px) {
    .hero h2 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 300px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero h2 {
        font-size: 1rem;
    }
}